* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  font-family: "Circular Sp Ara Book Web", sans-serif;
}

@font-face {
  font-family: "Circular Sp Ara Black Web";
  src: url("../fonts/Lineto_FontPool_Delivery_231024110327/Lineto_FontPool_Delivery_231024110327/Circular Spotify Text Arabic - Web Fonts/css/fonts/Circular Sp Ara Web Black.woff")
    format("woff");
}
@font-face {
  font-family: "Circular Sp Ara Book Web";
  src: url("../fonts/Lineto_FontPool_Delivery_231024110327/Lineto_FontPool_Delivery_231024110327/Circular Spotify Text Arabic - Web Fonts/css/fonts/Circular Sp Ara Web Book.woff2")
    format("woff");
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.description {
  color: white;
}

.header {
  color: #1db954;
}

.description {
  font-size: 30px;
}

main {
  width: 100%;
  margin-top: 5em;
}
#input-section,
#login-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

#input-section {
  display: none;
}

label {
  font-weight: 600;
  font-size: 1.8em;
}

#submit-btn,
#login-btn,
#show-more-btn {
  background: white;
  color: black;
  padding: 6px 36px;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  padding: 16px 40px;
  font-size: 1.125rem;
}

#controls-section {
  display: none;
  justify-content: center;
  padding: 10px 5px;
}
#generate-btn {
  justify-content: center;
  padding: 10px 5px;
  background: #1db954;
  color: white;
  font-size: 1.125rem;
  padding: 6px 36px;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
}
#selected-genre {
  border: 6px solid white;
}

#genre-section {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 3em;
  display: none;
  margin-top: 3em;
}

.genre-btn {
  color: white;
  font-family: "Circular Sp Ara Book Web", sans-serif;
  font-weight: 700;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.125rem;
  height: 140px;
  width: 145px;
}

.selected-genre {
  border: 6px solid white;
}
